<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

  <welcome-file-list>
    <welcome-file>ListPerson.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>com.MainClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Person</servlet-name>
        <servlet-class>com.app.AddPerson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Person</servlet-name>
        <url-pattern>/Person/*</url-pattern>
    </servlet-mapping>
    <!--
    <servlet>
        <servlet-name>ListPerson</servlet-name>
        <servlet-class>com.app.AddPerson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPerson</servlet-name>
        <url-pattern>/listPerson</url-pattern>
    </servlet-mapping>
    -->
</web-app>